*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: darkgrey;
}

p {
    color: beige;
}
ul {
    color: white;
}

h1 {
    color: white;
}

.parraforojo {
    color: red;
}

#titulo-unico {
    font-size: 50px;
    text-align: center;
}

.gradiente {
    background-image: linear-gradient(to right, #0f2027, #203a43, #2c5364);
}